<div>
    <script referrerpolicy="origin"
            src="https://cdn.tiny.cloud/1/qs9hpf1exzjcx253ebg14qjvssqeobiotqcxuu286ahzipqx/tinymce/5/tinymce.min.js"></script>

    <h1 class="my-2">Title</h1>
    <input class="w-full text-lg" id="title" placeholder="Title" value="{{title}}"/>
    <h3 class="my-2">Description</h3>
    <textarea class="w-full text-lg" cols="50" id="description" placeholder="Description..."
              rows="3">{{description}}</textarea>
    <h3 class="my-2">Task Specification</h3>
    <div class="flex-col">
        <div class="flex flex-row mx-2 my-1 align-left items-center">
            <p class="m-1">Runtime Limit</p>
            <input class="h-auto text-center" id="runtime_limit" placeholder="1000" value="{{runtime_limit}}"/>
            <p class="m-1">ms</p>
        </div>
        <div class="flex flex-row mx-2 my-1 align-left items-center">
            <p class="m-1">Memory Limit</p>
            <input class="text-center h-auto" id="memory_limit" placeholder="500" value="{{memory_limit}}"/>
            <p class="m-1">kb</p>
        </div>
        <div class="flex flex-row mx-2 my-1 align-left items-center">
            <p class="m-1">Programing Language</p>
            <select id="programing_language" name="programing_language">
                {% for key, value in pl.items %}
                {% if programing_language == key %}
                <option selected value="{{key}}">{{value}}</option>
                {% else %}
                <option value="{{key}}">{{value}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="flex-row flex my-2 align-left items-center">
        <h3>Test Case</h3>
        <button class="ml-2" id="add_input">Add Input</button>
    </div>
    <div class="flex flex-col mb-6" id="input_box">
        {% for input in input_list %}
        <div class="flex flex-row my-1 mx-2 align-left items-center">
            <p class="mx-1 my-1">Input #{{input.i|add:1}}</p>
            <input class="h-auto text-center input_selector" placeholder="input {{input.i|add:1}}"
                   value="{{input.value}}"/>
            <p class="ml-2 text-red-500 my-1 cursor-pointer"
               onclick="removeInput(this)">X</p>
        </div>
        {% endfor %}
    </div>
    <!-- <div class="flex justify-center items-center">
        <button class="text-xl py-2 px-6 rounded-md bg-blue-500" id="save_button">Save</button>
    </div> -->
    <textarea id="tinymce">
        {% if editor_content %}
            {{ editor_content|safe }}
        {% else %}
            Hello, world
        {% endif %}
    </textarea>
    <div class="xblock-actions">
        <ul>
            <li class="action-item">
                <a class="button action-primary save-button" href="#">Save</a>
            </li>
            <li class="action-item">
                <a class="button cancel-button" href="#">Cancel</a>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        const tinymceCSS = {
            badge: {
                display: 'inline-block',
                'border-radius': '5px',
                padding: '2px 5px',
                margin: '0 2px',
                border: '1px dashed #ff0000',
                color: '#ff0000'
            },
            sample: {
                'background-color': '#eeeeee',
                display: 'inline-block',
                padding: '8px',
                margin: '4px 4px',
                border: '2px dashed #A9A9A9',
                minWidth: '80%',
                maxWidth: '100%',
            },
            answerspan: {
                'background-color': '#ADFFEE',
                color: 'gray',
                display: 'inline-block',
                'border-radius': '3px',
                border: '1px solid black',
                paddingRight: '2px',
                paddingLeft: '2px',
            },
            sourcespan: {
                'background-color': '#ffedba',
                color: 'gray',
                display: 'inline-block',
                'border-radius': '3px'
            },
            sourcecode: {
                display: 'inline-block',
                padding: '16px',
                width: '100%',
                'font-family': '"Consolas", "Lucida Console", Monaco, monospace',
                'background-color': '#ffffff',
                border: '1px solid black',
                'border-radius': '3px'
            },
            hidespan: {
                color: 'rgba(107,107,107,0.7)',
                display: 'inline-block',
                'background-color': '#dedede',
            }
        }

        const replaceCSSToString = (css) => {
            return JSON.stringify(css).replaceAll("}", "").replaceAll("{", "").replaceAll("\"", "").replaceAll(",", ";")
        }

        const toStudentContent2 = (body) => {
            const studentBody = body.cloneNode(true)

            const answerspan = studentBody.getElementsByClassName('answerspan')
            const answerspanLength = answerspan.length
            const sourcespan = studentBody.getElementsByClassName('sourcespan')
            const sourcespanLength = sourcespan.length
            const sourcecode = studentBody.getElementsByClassName('sourcecode')

            for (let i = 0; i < answerspanLength; i++) {
                if (answerspan[0].innerHTML.includes("<br>")) {
                    answerspan[0].outerHTML = `<textarea class='answerspanInput' placeholder='answer here' style='padding-left: 2px;background-color: #ADFFEE; border: 1px solid black; height:${(answerspan[0].innerHTML.match(/br/g) || []).length * 25}px;' />`
                } else {
                    answerspan[0].outerHTML = `<input type='text' class="answerspanInput" placeholder="answer here" style='padding-left: 2px;background-color: #ADFFEE; border: 1px solid black;'/>`
                }
            }
            for (let i = 0; i < sourcespanLength; i++) {
                if (sourcespan[0].innerHTML.includes("<br>")) {
                    sourcespan[0].outerHTML = `<textarea  class="sourcespanInput"  placeholder="source code here" style='padding-left: 2px; padding-right 2px; height: ${((sourcespan[0].innerHTML.match(/br/g) || []).length * 25) + 50}px; background-color: #ffedba; border: 1px solid black;'/>`
                } else {
                    sourcespan[0].outerHTML = `<input type='text' class="sourcespanInput"  placeholder="answer here" style='padding-left: 2px; padding-right 2px; background-color: #ffedba; border: 1px solid black;'/>`
                }
            }

            for (let i = 0; i < sourcecode.length; i++) {
                for (let j = 0; j < sourcecode[i].children.length; j++) {
                    const className = sourcecode[i].children[j].className
                    if (className === "hidespan") {
                        sourcecode[i].children[j].style.display = 'none'
                        if (j + 1 < sourcecode[i].children.length)
                            sourcecode[i].children[j + 1].remove()
                    }
                }
            }

            return studentBody.outerHTML
        }

        const insertSelectionWithCss = (editor, css, cl, checkBr = false) => {
            const selection = editor.selection.getContent()
            const node = editor.selection.getNode()
            console.log(node.childNodes[node.childNodes.length - 1].nodeName !== "BR")
            const styles = replaceCSSToString(css)
            if (selection.includes("span")) return;
            if (checkBr && node.childNodes[node.childNodes.length - 1].nodeName !== "BR") {
                editor.selection.setContent("<span class='" + cl + "' style='" + styles + "' >" + selection + "</span><br>")
            } else {
                editor.selection.setContent("<span class='" + cl + "' style='" + styles + "' >" + selection + "</span>")
            }
        }

        //badge
        tinymce.PluginManager.add('badge', function (editor, url) {
            const toggleSpan = () => {
                if (editor.selection.getNode().tagName.toLowerCase() === "span") return
                editor.formatter.toggle('badge');
            }

            editor.ui.registry.addButton('badge', {
                text: 'Badge',
                onAction: function () {
                    toggleSpan();
                }
            });
        });

        //sample
        tinymce.PluginManager.add('sample', function (editor, url) {
            const toggleSpan = () => {
                if (editor.selection.getNode().tagName.toLowerCase() === "span") return
                editor.formatter.toggle('sample');
            }

            editor.ui.registry.addButton('sample', {
                text: 'Sample',
                onAction: function () {
                    toggleSpan();
                }
            });
        });

        //answerspan
        tinymce.PluginManager.add('answerspan', function (editor, url) {
            const toggleSpan = () => {
                if (editor.selection.getNode().tagName.toLowerCase() === "span") return
                insertSelectionWithCss(editor, tinymceCSS.answerspan, 'answerspan')
                // tinymce.activeEditor.formatter.toggle('answerspan');
            }

            editor.ui.registry.addButton('answerspan', {
                text: 'Answer Text',
                onAction: function () {
                    toggleSpan();
                }
            });
        });

        //sourcespan
        tinymce.PluginManager.add('sourcespan', function (editor, url) {
            const toggleSpan = () => {

                if (editor.selection.getNode().className.toLowerCase() !== "sourcecode") return

                // tinymce.activeEditor.formatter.toggle('sourcespan');
                insertSelectionWithCss(editor, tinymceCSS.sourcespan, 'sourcespan', true)
            }

            editor.ui.registry.addButton('sourcespan', {
                text: 'Student Source',
                onAction: function () {
                    toggleSpan();
                }
            });
        });

        //hidespan
        tinymce.PluginManager.add('hidespan', function (editor, url) {
            const toggleSpan = () => {
                if (editor.selection.getNode().className.toLowerCase() !== "sourcecode") return
                editor.formatter.toggle('hidespan');
            }

            editor.ui.registry.addButton('hidespan', {
                text: 'Hide',
                onAction: function () {
                    toggleSpan();
                }
            });
        });

        //sourcecode
        tinymce.PluginManager.add('sourcecode', function (editor, url) {
            const toggleSpan = () => {
                if (editor.selection.getNode().tagName.toLowerCase() === "span") return
                editor.formatter.apply('sourcecode');
            }

            editor.ui.registry.addButton('sourcecode', {
                text: 'Source Code',
                onAction: function () {
                    toggleSpan();
                }
            });
        });

        //student preview
        tinymce.PluginManager.add('studentpreview', function (editor, url) {
            const previewDialog = () => {
                return editor.windowManager.open({
                    title: 'Student Preview',
                    size: 'large',
                    body: {
                        type: 'panel',
                        items: [{
                            type: 'iframe',
                            name: 'iframe',
                            sandboxed: false
                        }]
                    },
                    buttons: [{
                        type: 'cancel',
                        text: 'Close',
                        primary: true
                    }],
                }).setData({
                    iframe: toStudentContent2(editor.getBody())
                })
            }

            editor.ui.registry.addButton('studentpreview', {
                text: 'Student Preview',
                onAction: function () {
                    previewDialog();
                }
            });
        });

        tinymce.init({
            force_br_newlines: true,
            force_p_newlines: false,
            selector: "#tinymce",
            height: "500px",
            plugins: [
                "code, contextmenu, image, searchreplace, textcolor, table, answerspan, sourcespan, sample, badge, studentpreview, sourcecode, hidespan"
            ],
            toolbar: "forecolor | bold italic underline | example | code | removeformat | searchreplace | table | alignleft aligncenter alignright alignfull | badge sample | answerspan | sourcecode sourcespan hidespan | studentpreview",
            contextmenu: "bold italic",
            formats: {
                badge: {
                    inline: 'span',
                    styles: tinymceCSS.badge,
                    classes: 'badge'
                },
                sample: {
                    inline: 'span',
                    styles: tinymceCSS.sample,
                    classes: 'sample'
                },
                answerspan: {
                    inline: 'span',
                    styles: tinymceCSS.answerspan,
                    classes: 'answerspan'
                },
                sourcespan: {
                    inline: 'span',
                    styles: tinymceCSS.sourcespan,
                    classes: 'sourcespan'
                },
                sourcecode: {
                    block: 'span',
                    styles: tinymceCSS.sourcecode,
                    classes: 'sourcecode'
                },
                hidespan: {
                    inline: 'span',
                    styles: tinymceCSS.hidespan,
                    classes: 'hidespan'
                }
            },
            setup: (ed) => {
                ed.on("paste", function (e) {
                    if (ed.selection.getNode().tagName.toLowerCase() === "span") {
                        const text = (e.originalEvent || e).clipboardData.getData('text/plain');
                        ed.selection.setContent(text.replace(/\n/g, "<br>"))
                        e.preventDefault()
                    }
                })

                ed.on('keydown', function (e) {
                    //enter case for span
                    if (e.key === "Enter" && !e.ctrlKey && ed.selection.getNode().tagName.toLowerCase() === "span") {
                        ed.selection.setContent("<br/>")
                        e.preventDefault()
                    }
                });

                //disable drag
                ed.on('dragover dragenter dragend drag drop', function (e) {
                    e.stopPropagation();
                    e.preventDefault()
                });

                ed.on('draggesture', function (e) {
                    e.stopPropagation();
                    e.preventDefault()
                });

            }
        });
    </script>

</div>